<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nmgjc.word.mapper.SwSensitiveWordLogMapper">
    
    <resultMap type="com.nmgjc.word.domain.SwSensitiveWordLog" id="SwSensitiveWordLogResult">
        <result property="id"    column="id"    />
        <result property="reqMethod"    column="req_method"    />
        <result property="reqUrl"    column="req_url"    />
        <result property="reqName"    column="req_name"    />
        <result property="checkConf"    column="check_conf"    />
        <result property="reqBody"    column="req_body"    />
        <result property="triggerType"    column="trigger_type"    />
        <result property="ipaddr"    column="ipaddr"    />
        <result property="msg"    column="msg"    />
        <result property="loginLocation"    column="login_location"    />
        <result property="browser"    column="browser"    />
        <result property="os"    column="os"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectSwSensitiveWordLogVo">
        select id, req_method, req_url, req_name, check_conf, req_body, trigger_type, ipaddr, msg, login_location, browser, os, create_by, create_time, update_by, update_time from sw_sensitive_word_log
    </sql>

    <select id="selectSwSensitiveWordLogList" parameterType="com.nmgjc.word.domain.SwSensitiveWordLog" resultMap="SwSensitiveWordLogResult">
        <include refid="selectSwSensitiveWordLogVo"/>
        <where>  
            <if test="reqMethod != null  and reqMethod != ''"> and req_method = #{reqMethod}</if>
            <if test="reqUrl != null  and reqUrl != ''"> and req_url = #{reqUrl}</if>
            <if test="reqName != null  and reqName != ''"> and req_name like concat('%', #{reqName}, '%')</if>
            <if test="checkConf != null  and checkConf != ''"> and check_conf = #{checkConf}</if>
            <if test="reqBody != null  and reqBody != ''"> and req_body = #{reqBody}</if>
            <if test="triggerType != null "> and trigger_type = #{triggerType}</if>
            <if test="ipaddr != null  and ipaddr != ''"> and ipaddr = #{ipaddr}</if>
            <if test="msg != null  and msg != ''"> and msg = #{msg}</if>
            <if test="loginLocation != null  and loginLocation != ''"> and login_location = #{loginLocation}</if>
            <if test="browser != null  and browser != ''"> and browser = #{browser}</if>
            <if test="os != null  and os != ''"> and os = #{os}</if>
        </where>
    </select>
    
    <select id="selectSwSensitiveWordLogById" parameterType="Long" resultMap="SwSensitiveWordLogResult">
        <include refid="selectSwSensitiveWordLogVo"/>
        where id = #{id}
    </select>

    <insert id="insertSwSensitiveWordLog" parameterType="com.nmgjc.word.domain.SwSensitiveWordLog" useGeneratedKeys="true" keyProperty="id">
        insert into sw_sensitive_word_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="reqMethod != null and reqMethod != ''">req_method,</if>
            <if test="reqUrl != null and reqUrl != ''">req_url,</if>
            <if test="reqName != null and reqName != ''">req_name,</if>
            <if test="checkConf != null">check_conf,</if>
            <if test="reqBody != null and reqBody != ''">req_body,</if>
            <if test="triggerType != null">trigger_type,</if>
            <if test="ipaddr != null">ipaddr,</if>
            <if test="msg != null">msg,</if>
            <if test="loginLocation != null">login_location,</if>
            <if test="browser != null">browser,</if>
            <if test="os != null">os,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="reqMethod != null and reqMethod != ''">#{reqMethod},</if>
            <if test="reqUrl != null and reqUrl != ''">#{reqUrl},</if>
            <if test="reqName != null and reqName != ''">#{reqName},</if>
            <if test="checkConf != null">#{checkConf},</if>
            <if test="reqBody != null and reqBody != ''">#{reqBody},</if>
            <if test="triggerType != null">#{triggerType},</if>
            <if test="ipaddr != null">#{ipaddr},</if>
            <if test="msg != null">#{msg},</if>
            <if test="loginLocation != null">#{loginLocation},</if>
            <if test="browser != null">#{browser},</if>
            <if test="os != null">#{os},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateSwSensitiveWordLog" parameterType="com.nmgjc.word.domain.SwSensitiveWordLog">
        update sw_sensitive_word_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="reqMethod != null and reqMethod != ''">req_method = #{reqMethod},</if>
            <if test="reqUrl != null and reqUrl != ''">req_url = #{reqUrl},</if>
            <if test="reqName != null and reqName != ''">req_name = #{reqName},</if>
            <if test="checkConf != null">check_conf = #{checkConf},</if>
            <if test="reqBody != null and reqBody != ''">req_body = #{reqBody},</if>
            <if test="triggerType != null">trigger_type = #{triggerType},</if>
            <if test="ipaddr != null">ipaddr = #{ipaddr},</if>
            <if test="msg != null">msg = #{msg},</if>
            <if test="loginLocation != null">login_location = #{loginLocation},</if>
            <if test="browser != null">browser = #{browser},</if>
            <if test="os != null">os = #{os},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSwSensitiveWordLogById" parameterType="Long">
        delete from sw_sensitive_word_log where id = #{id}
    </delete>

    <delete id="deleteSwSensitiveWordLogByIds" parameterType="String">
        delete from sw_sensitive_word_log where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>